.container {
    margin-top: 30px;
}
            
.row {
    margin-top: 30px;
}
                   
.carousel-inner .active,
.carousel-inner .active + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item, 
.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {   
	
	display: block;
}

.place_bid_button
{
    width: 100%; 
    margin-top: 20px;
}
        
.monitoring_button
{
    width: 100%; 
    margin-top: 10px;
}