body{
	font-family: 'Arial, Helvetica', sans-serif;
}
.main-section{
	margin: 0 auto;
	margin-top:100px;
	background-color: #fff;
	border-radius: 5px;
	padding: 0px;
}

.user-name{
	margin:10px 0px;
}
.user-name h1{
	font-size:30px;
	color:#676363;
}
.user-name button{
	position: absolute;	
	top:-50px;
	right:20px;
	font-size:30px;
}
.form-input button{
	width: 100%;
	margin-bottom: 20px;
}
