<!DOCTYPE html>
<html>
<head>
    <title>Auctions Online - Item</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bidding.css">
</head>
	<body>
	{% extends 'index.html' %}
	{% block body %}
	<div id="bid-flexbox" class="d-flex flex-row"> 
		<div class="p-2">
			<div id="bidding" class="jumbotron">
				<div id="bid_table">
				<table  class="table table-borderless">
					<tbody>
						<tr>
							{% if stats.2 %}
							<td><small>Time left:</small></td>
							<td>{{ stats.0 }}</td>
							{% else %}
							<p>Auction Ended! The winner is : {{ stats.3 }}</p>
							{% endif %}
						</tr>
						<tr>
							<td><small>Current bit:</small></td>
							<td><b>GB £{{stats.1}}</b></td>
							<td><small>[ {{ auction.bids }} bids ]</small></td>
						</tr>
					</tbody>
				</table>
				</div>
				{% if stats.2 %}
				<div>
					<button type="button" id="b_button" class="btn btn-primary" onclick="location.href='/auction/bidding/{{auctions.id}}/raise_bid'">Bid</button>
				</div>
				{% endif %}
				<div>
					<button type="button" id="w_button" class="btn btn-outline-primary watch_button" onclick="location.href='/auction/monitoring/{{auctions.id}}'">
						{% load custom_tags %}
						{% if monitoring %}
							{% if monitoring|search:auction.id%}
								Unwatch
							{% else %}
								Watch
							{% endif %}
						{% else %}
							Watch
						{% endif %}
					</button>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<p> {{ error }} </p>
			{% endfor %}
		{% endfor %}
	{% endif %}	


	</body>
</html>
