<!DOCTYPE html>
<html>
<head>
    <title>Auctions Online - Bid for item</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bidding.css">
	<link rel="stylesheet" type="text/css" href="/static/css/auctions.css">
</head>
<body>
{% extends 'index.html' %}
{% block body %}
<div id="bidding-flexbox" class="d-flex flex-row"> 
	<div class="p-2">
		<div id="bidding" class="jumbotron">
			<div id="bidding_table">
			<table  class="table table-borderless">
				<tbody>
					<tr>
						{% if possible_winner.2 %}
						<td><small>Time left:</small></td>
						<td>{{ possible_winner.0 }}</td>
						{% else %}
						<p>End of Auction! Auction winner : {{ possible_winner.3 }}</p>
						{% endif %}
					</tr>
					<tr>
						<td><small>Actual bid:</small></td>
						<td><b>GB £{{possible_winner.1}}</b></td>
						<td><small> {{ auction.bids }} </small></td>
					</tr>
				</tbody>
			</table>
			</div>
			{% if possible_winner.2 %}
			<div>
				<button type="button" id="b_button" class="btn btn-primary" onclick="location.href='/auction/bidding/{{auctions.id}}/raising_bidding'">Bid</button>
			</div>
			{% endif %}
			<div>
				<button type="button" id="m_button" class="btn btn-outline-primary monitoring_button" onclick="location.href='/auction/monitoring/{{auctions.id}}'">
					{% load custom_tags %}
					{% if monitoring %}
						{% if monitoring|search:auction.id%}
							Non-Monitoring
						{% else %}
							Monitoring
						{% endif %}
					{% else %}
						Monitoring
					{% endif %}
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
</body>
</html>
