{% load static %} 
<html> 
    <head>         
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">         
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstraptheme.min.css"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/myapp.css' %}"> 
    </head> 
	
	<body> 
		
		<div> <h1> Items Sold </h1> </div> 
		
		{% for item in items%} 
		 

		Title: {{item.item_title}} <BR> 

		Status: {{item.status}} <BR> 

		Description: {{item.item_description}} <BR> 

		Owner: {{item.item_owner}} <BR><BR> 

		{% endfor %}

	</body>
<html>
