<!DOCTYPE html>
<html>
<head>
	<title>Auctions Online - Items Sold</title>
    <style>
		#reg { margin-top : 20px; }
		<link rel="stylesheet" type="text/css" href="/static/css/bidding.css">
	</style
</head>
<body>
{% extends 'index.html' %}	
{% block body %}
<div id="reg">
	<div>
		<h2>Items Sold</h2>
        <hr>
    </div>  
	
  <div id="bid-flexbox" class="d-flex flex-row">
	 <div class="p-2">
		<div id="bidding" class="jumbotron">
		   <div id="bidding_table">
			  <table class="table table-borderless">
				 <tbody>
					<tr>
					   {% for auction in auctions%}
					   <td>
						  <p><b>Item Name:</b> {{auction.item_name}} </p>
						  <p><b>Auction Winner:</b> {{auction.auction_winner}} </p>
						  <p><b>Bidding price:</b> {{auction.auction_bidding_price}} </p>
						  <p><b>Bids:</b> {{auction.bids}} </p>
					   </td>
					   {% endfor %}
					</tr>
				 </tbody>
			  </table>
		   </div>
		</div>
	 </div>
  </div>
  {% endblock %}
</body>
<html>
