<!DOCTYPE html>
<html> 
    <head>         
		<title>Auctions Online - Items Sold</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bidding.css">	
			<style>
			   #reg { margin-top : 20px; }
			   .frm { margin-top: -15px; }
			</style
	</head> 	
<body> 
{% extends 'index.html' %}	
{% block body %}

	
	<div id="bid-flexbox" class="d-flex flex-row"> 
		<div class="p-2">
			<div id="bidding" class="jumbotron">
				<div id="bid_table">
				<table class="table table-borderless">
					<tbody>
						<tr>
						{% for auction in auctions%}
						<td>
						<p><b>Item Name:</b> {{auction.item_name}} </p>
						
						<p><b>Auction Winner:</b> {{auction.auction_winner}} </p>
						
						<p><b>Bidding price:</b> {{auction.auction_bidding_price}} </p>
						
						</td>
						{% endfor %}
						</tr>						
					</tbody>
				</table>
				</div>		
	
		
	 
		 

	

	
			</div>
		</div>
	</div>
	{% endblock %}
</body>
<html>
