<!DOCTYPE html>
<html>
<head>
    <title>Auctions Online - Registration Page</title>
    <style>
        #reg { margin-top : 20px; }
        #subbut {margin-top: 20px; margin-left: 152px;}
        .frm { margin-top: -15px; }
    </style>
</head>
<body>
{% extends 'index.html' %}
{% block body %}
    <div id="reg">
    <div>
        <h2>Register New User</h2>
        <hr>
    </div>
    
    <form method="post" action="/auction/registration/new_user/">{% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm">Username</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <input id="username" class="form-control" type="text" name="username" maxlength="60" required />
                </div>                
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm" for="group1B">Password</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                    <input id="password1" class="form-control" type="password" name="password1" required />
                </div>
            </div>
        </div>
            <div class="form-group row">                
                <button id="subbut" type="submit" class="btn btn-primary col-sm-5" value="register_v2">Submit</button>
            </div>
        </div>
    </div>
    </form>
    </div>
{% endblock %}
</body>
</html>
